.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
      = link_to new_group_path, class: "top-items__btn top-items__btn--edit" do
        = icon('fas', 'edit')
      = link_to edit_user_path(current_user), class: "top-items__btn top-items__btn--cog" do
        = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .groups
        = link_to group_messages_path(group) do
          .groups__group-name
            = group.name
          .groups__group-message
            = group.show_last_message